@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.App{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: .4s;
  padding: 0px 30px;
}

.login{
  min-height: 50vh;
}

.verticalAlign{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.splash_logo img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.splash_logo{
  height: 180px;
  width: 180px;
}

.text-bold{
  font-weight: bold;
}

input{
  outline: none;
}

/* app style */
.primary-color{
  color: #4F4F4F;
}

.secondary-color{
  color: #828282;
}

.faded-gray{
  color: #BDBDBD;
}

.bgblue-color{
  background: #2F80ED;
}

.blue-color{
  color: #2F80ED;
}

.faded-blue{
  background: #F6F8FB;
}

.text-white{
  color: #fff;
}

.font-sm{
  font-size: 10px;
}

.font-md{
  font-size: 12px;
}

.font-lg{
  font-size: 18px;
}

.pt-10{
  padding-top: 10px;
}

.pt-15{
  padding-top: 15px;
}

.pt-20{
  padding-top: 20px;
}

.taLeft{
  text-align: left;
}

.taRight{
  text-align: right;
}

.taCenter{
  text-align: center;
}

.alignSelfStart{
  align-self: flex-start;
}

/* component styles */

.btn{
  cursor: pointer;
  transition: .4s;
}

.btn:hover{
  transform: scale(0.9);
} 

.btn-green{
  background: #3DB46D;
}

.btn-red{
  background: #EB5757;
}



.Toast_style{
  position: absolute;
  top: 50px;
  color: #fff;
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 12px;
  transition: .3s;
}

.Toast_style p:last-child{
  /* padding-left: 20px; */
  cursor: pointer;
}

.photo_design{
  width: 100%;
  min-height: 100vh;
}

.rw-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-login{
  margin-top: 20px;
  padding: 15px 20px;
  border-radius: 6px;
  border: none;
  background: #de345e;
  color: #fff;
  cursor: pointer;
  transition: .3s;
  text-decoration: none;
  outline: none;
}

.btn-login:hover{
  transform: scale(1.08)
}

.photo-body{
  width: 1200px;
  /* background: red; */
}

.logo-body{
  /* background: green; */
  height: auto;
  width: 100px;
}

.logo-body img{
  width: 100%;
  height: 100%;
  margin-left: -30px;
  object-fit: cover;
}

.header-left input{
  width: 220px;
  height: 40px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 4px;
  text-indent: 20px;
  transition: .4s;
}

.header-left input:focus{
  border-color: rgba(0,0,0,0.6);
}

.single-photo{
  width: 300px;
  height: 318px;
}

.single-photo img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.photos{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  
}